@import "../styles/variables.scss";

.winner-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &__header {
    text-align: left;
    margin-bottom: 50px;
    color: $main-grey;
  }
  &__list {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    &-element {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      color: #ffffff;
      margin-bottom: 10px;
      height: 3rem;
      background-color: $main-grey;

      &-name {
      }
      &-date {
      }
    }
  }
}
